USE [master]
GO
/****** Object:  Database [ArugaSystemDB]    Script Date: 9/25/2026 8:05:17 PM ******/
CREATE DATABASE [ArugaSystemDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ArugaSystemDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ArugaSystemDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ArugaSystemDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ArugaSystemDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ArugaSystemDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ArugaSystemDB]
GO
/****** Object:  User [ArugaSystem]    Script Date: 9/25/2026 8:05:17 PM ******/
CREATE USER [ArugaSystem] FOR LOGIN [ArugaSystem] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [ArugaSystem]
GO
/****** Object:  Table [dbo].[AccountOTPs]    Script Date: 9/25/2026 8:05:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountOTPs](
	[OTPID] [uniqueidentifier] NOT NULL,
	[AccountID] [uniqueidentifier] NOT NULL,
	[OTPHash] [nvarchar](255) NOT NULL,
	[Purpose] [nvarchar](50) NOT NULL,
	[ExpiresAt] [datetime2](7) NOT NULL,
	[IsUsed] [bit] NOT NULL,
	[Attempts] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OTPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 9/25/2026 8:05:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccountID] [uniqueidentifier] NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[AccountType] [nvarchar](20) NOT NULL,
	[ReferenceID] [uniqueidentifier] NOT NULL,
	[Status] [bit] NOT NULL,
	[MustChangePassword] [bit] NOT NULL,
	[FailedLoginAttempts] [int] NOT NULL,
	[LockedUntil] [datetime2](7) NULL,
	[LastLogin] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 9/25/2026 8:05:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[AuditID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [uniqueidentifier] NULL,
	[ActionPerformed] [nvarchar](max) NOT NULL,
	[ActionDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AuditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChildParentRelationship]    Script Date: 9/25/2026 8:05:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChildParentRelationship](
	[RelationshipID] [uniqueidentifier] NOT NULL,
	[ChildID] [uniqueidentifier] NOT NULL,
	[ParentID] [uniqueidentifier] NOT NULL,
	[RelationshipType] [nvarchar](50) NOT NULL,
	[IsPrimaryContact] [bit] NOT NULL,
	[CanReceiveNotifications] [bit] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[RelationshipID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Children]    Script Date: 9/25/2026 8:05:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Children](
	[ChildID] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[BirthDate] [date] NOT NULL,
	[PlaceOfBirth] [nvarchar](100) NULL,
	[Address] [nvarchar](70) NULL,
	[HealthCenter] [nvarchar](100) NULL,
	[Barangay] [int] NULL,
	[Sex] [nvarchar](10) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[Allergies] [nvarchar](500) NULL,
	[BirthHeight] [decimal](5, 2) NULL,
	[BirthWeight] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ChildID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClinicOperatingSchedule]    Script Date: 9/25/2026 8:05:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClinicOperatingSchedule](
	[ScheduleID] [int] IDENTITY(1,1) NOT NULL,
	[DayOfWeek] [int] NOT NULL,
	[IsOpen] [bit] NOT NULL,
	[OpeningTime] [time](7) NOT NULL,
	[ClosingTime] [time](7) NOT NULL,
	[QueueCutoffTime] [time](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClinicRooms]    Script Date: 9/25/2026 8:05:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClinicRooms](
	[RoomID] [int] IDENTITY(1,1) NOT NULL,
	[RoomNumber] [nvarchar](10) NOT NULL,
	[AssignedDoctorID] [uniqueidentifier] NULL,
	[IsOccupied] [bit] NOT NULL,
	[CurrentChildID] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClinicScheduleExceptions]    Script Date: 9/25/2026 8:05:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClinicScheduleExceptions](
	[ExceptionID] [int] IDENTITY(1,1) NOT NULL,
	[ExceptionDate] [date] NOT NULL,
	[IsOpen] [bit] NOT NULL,
	[OpeningTime] [time](7) NOT NULL,
	[ClosingTime] [time](7) NOT NULL,
	[QueueCutoffTime] [time](7) NOT NULL,
	[Reason] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ExceptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 9/25/2026 8:05:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationID] [uniqueidentifier] NOT NULL,
	[ParentID] [uniqueidentifier] NULL,
	[ChildID] [uniqueidentifier] NULL,
	[VaccineID] [int] NULL,
	[DoseNumber] [int] NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Message] [nvarchar](500) NOT NULL,
	[ScheduledDate] [date] NULL,
	[IsRead] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UserID] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parents]    Script Date: 9/25/2026 8:05:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parents](
	[ParentID] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](255) NULL,
	[ContactNo] [nvarchar](20) NOT NULL,
	[BarangayNo] [nvarchar](20) NULL,
	[Address] [nvarchar](255) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[PasswordHash] [nvarchar](255) NULL,
	[MustChangePassword] [bit] NOT NULL,
	[TemporaryPasswordExpiresAt] [datetime2](7) NULL,
	[LastLogin] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ParentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordOtps]    Script Date: 9/25/2026 8:05:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordOtps](
	[OTPID] [uniqueidentifier] NOT NULL,
	[ParentID] [uniqueidentifier] NULL,
	[UserID] [uniqueidentifier] NULL,
	[OTPHash] [nvarchar](255) NOT NULL,
	[Purpose] [nvarchar](50) NOT NULL,
	[ExpiresAt] [datetime2](7) NOT NULL,
	[UsedAt] [datetime2](7) NULL,
	[AttemptCount] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_PasswordOtps] PRIMARY KEY CLUSTERED 
(
	[OTPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordResetTokens]    Script Date: 9/25/2026 8:05:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordResetTokens](
	[ResetTokenID] [uniqueidentifier] NOT NULL,
	[AccountType] [varchar](20) NOT NULL,
	[AccountID] [uniqueidentifier] NOT NULL,
	[OTPHash] [varchar](255) NOT NULL,
	[ExpiresAt] [datetime2](7) NOT NULL,
	[IsUsed] [bit] NOT NULL,
	[AttemptCount] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UsedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_PasswordResetTokens] PRIMARY KEY CLUSTERED 
(
	[ResetTokenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personnel]    Script Date: 9/25/2026 8:05:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personnel](
	[PersonnelID] [uniqueidentifier] NOT NULL,
	[PersonnelCode] [nvarchar](20) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[MiddleName] [nvarchar](100) NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[LicenseNumber] [nvarchar](100) NULL,
	[Email] [nvarchar](255) NULL,
	[ContactNo] [nvarchar](20) NULL,
	[Address] [nvarchar](500) NULL,
	[Status] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Personnel] PRIMARY KEY CLUSTERED 
(
	[PersonnelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Queue]    Script Date: 9/25/2026 8:05:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Queue](
	[QueueID] [int] IDENTITY(1,1) NOT NULL,
	[ParentID] [uniqueidentifier] NULL,
	[QueueNumber] [int] NOT NULL,
	[QueueStatus] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NULL,
	[AssignedRoomID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[QueueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QueueChildren]    Script Date: 9/25/2026 8:05:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QueueChildren](
	[QueueChildID] [uniqueidentifier] NOT NULL,
	[QueueID] [uniqueidentifier] NOT NULL,
	[ChildID] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[QueueChildID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Queues]    Script Date: 9/25/2026 8:05:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Queues](
	[QueueID] [uniqueidentifier] NOT NULL,
	[ParentID] [uniqueidentifier] NOT NULL,
	[QueueNumber] [int] NOT NULL,
	[QueueDate] [date] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[AssignedRoomID] [int] NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[QueueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 9/25/2026 8:05:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[StaffID] [uniqueidentifier] NOT NULL,
	[AccountID] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[MiddleName] [nvarchar](100) NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[ContactNo] [nvarchar](20) NOT NULL,
	[Address] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[StaffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/25/2026 8:05:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[ContactNo] [nvarchar](20) NULL,
	[UserType] [nvarchar](20) NULL,
	[PRCNo] [nvarchar](50) NULL,
	[AccountStatus] [nvarchar](20) NULL,
	[Email] [nvarchar](200) NULL,
	[Address] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[Position] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaccinationRecords]    Script Date: 9/25/2026 8:05:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaccinationRecords](
	[VaccinationRecordID] [uniqueidentifier] NOT NULL,
	[RecordCode] [nvarchar](25) NOT NULL,
	[ChildID] [uniqueidentifier] NOT NULL,
	[VaccineID] [int] NOT NULL,
	[InventoryID] [int] NULL,
	[TimelineID] [uniqueidentifier] NULL,
	[DoseNumber] [int] NOT NULL,
	[VaccinationDate] [datetime2](7) NOT NULL,
	[AdministeredByUserID] [uniqueidentifier] NULL,
	[NurseObservation] [nvarchar](max) NULL,
	[DoctorDiagnosis] [nvarchar](max) NULL,
	[DoctorDiagnosedByUserID] [uniqueidentifier] NULL,
	[DoctorDiagnosedAt] [datetime2](7) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_VaccinationRecords] PRIMARY KEY CLUSTERED 
(
	[VaccinationRecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaccinationScheduleRules]    Script Date: 9/25/2026 8:05:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaccinationScheduleRules](
	[RuleID] [int] IDENTITY(1,1) NOT NULL,
	[VaccineID] [int] NOT NULL,
	[DoseNumber] [int] NOT NULL,
	[RecommendedAgeDays] [int] NOT NULL,
	[MinimumAgeDays] [int] NOT NULL,
	[IntervalFromPreviousDoseDays] [int] NOT NULL,
	[SequenceOrder] [int] NOT NULL,
	[IsRequired] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[RuleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaccinationTimeline]    Script Date: 9/25/2026 8:05:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaccinationTimeline](
	[TimelineID] [uniqueidentifier] NOT NULL,
	[TimelineCode] [nvarchar](25) NOT NULL,
	[ChildID] [uniqueidentifier] NOT NULL,
	[VaccineID] [int] NOT NULL,
	[DoseNumber] [int] NOT NULL,
	[ExpectedDate] [date] NOT NULL,
	[ScheduledDate] [date] NOT NULL,
	[CompletedDate] [date] NULL,
	[VaccinationRecordID] [uniqueidentifier] NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_VaccineTimeline] PRIMARY KEY CLUSTERED 
(
	[TimelineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaccineDoses]    Script Date: 9/25/2026 8:05:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaccineDoses](
	[DoseID] [int] IDENTITY(1,1) NOT NULL,
	[VaccineID] [int] NULL,
	[DoseNumber] [int] NOT NULL,
	[MinIntervalDays] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DoseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaccineInventory]    Script Date: 9/25/2026 8:05:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaccineInventory](
	[InventoryID] [int] IDENTITY(1,1) NOT NULL,
	[VaccineID] [int] NOT NULL,
	[LotNumber] [nvarchar](100) NOT NULL,
	[InitialQuantity] [int] NOT NULL,
	[CurrentQuantity] [int] NOT NULL,
	[MinimumStock] [int] NOT NULL,
	[ExpirationDate] [date] NOT NULL,
	[ReceivedDate] [date] NOT NULL,
	[Supplier] [nvarchar](255) NULL,
	[Status] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[InventoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vaccines]    Script Date: 9/25/2026 8:05:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vaccines](
	[VaccineID] [int] IDENTITY(1,1) NOT NULL,
	[VaccineName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Abbreviation] [nvarchar](20) NULL,
	[TargetDisease] [nvarchar](200) NULL,
	[RecommendedAge] [nvarchar](100) NULL,
	[AgeCategory] [nvarchar](50) NULL,
	[NumberOfRequiredDoses] [int] NOT NULL,
	[DoseInterval] [nvarchar](100) NULL,
	[AdministrationRoute] [nvarchar](100) NULL,
	[Status] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[VaccineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Accounts] ([AccountID], [Username], [PasswordHash], [AccountType], [ReferenceID], [Status], [MustChangePassword], [FailedLoginAttempts], [LockedUntil], [LastLogin], [CreatedAt], [UpdatedAt]) VALUES (N'43392576-8ad2-4104-a94f-09b0b0cb6992', N'johansandro@gmail.com', N'$2b$10$yQIpWSQTwjZGrpzrpVMMU.O6pO2gqtQsAcSy3CP335IFZoNhxX7kW', N'Parent', N'8c1aee93-2312-4b57-b4d7-5838ca615311', 1, 0, 0, NULL, CAST(N'2026-09-25T09:38:37.3310917' AS DateTime2), CAST(N'2026-09-25T09:38:04.8066667' AS DateTime2), CAST(N'2026-09-25T09:38:58.9866667' AS DateTime2))
INSERT [dbo].[Accounts] ([AccountID], [Username], [PasswordHash], [AccountType], [ReferenceID], [Status], [MustChangePassword], [FailedLoginAttempts], [LockedUntil], [LastLogin], [CreatedAt], [UpdatedAt]) VALUES (N'92150c90-9957-4cb2-8c93-241f57b71935', N'maria.reyes', N'$2b$10$ZDmA7Pc9bt88D9g9B3mkqemKj2oDh8hy.EGIWgt2mHrWMsbJyLLq.', N'Parent', N'22222222-2222-2222-2222-222222222222', 1, 0, 0, NULL, CAST(N'2026-09-24T20:33:00.9668366' AS DateTime2), CAST(N'2026-09-11T02:20:32.9966667' AS DateTime2), CAST(N'2026-09-14T12:58:08.0700000' AS DateTime2))
INSERT [dbo].[Accounts] ([AccountID], [Username], [PasswordHash], [AccountType], [ReferenceID], [Status], [MustChangePassword], [FailedLoginAttempts], [LockedUntil], [LastLogin], [CreatedAt], [UpdatedAt]) VALUES (N'a83b9fcc-d67e-4ea8-af5a-323dbcfcdc67', N'santaclaus@gmail.com', N'$2b$10$RUza2P9yKHdfkVDW5iUhoOmcaFFyFHicjZuIdRngPBPWu/rU3pTRO', N'Parent', N'2a243b23-6246-4758-917a-32ced5da7cb0', 1, 0, 0, NULL, CAST(N'2026-09-25T09:26:33.6412748' AS DateTime2), CAST(N'2026-09-25T09:14:40.6600000' AS DateTime2), NULL)
GO
SET IDENTITY_INSERT [dbo].[AuditLogs] ON 

INSERT [dbo].[AuditLogs] ([AuditID], [UserID], [ActionPerformed], [ActionDate]) VALUES (1, N'12121212-1212-1212-1212-121212121212', N'Logged in to the vaccination management system.', CAST(N'2026-09-11T02:20:33.090' AS DateTime))
INSERT [dbo].[AuditLogs] ([AuditID], [UserID], [ActionPerformed], [ActionDate]) VALUES (2, N'13131313-1313-1313-1313-131313131313', N'Reviewed child vaccination record.', CAST(N'2026-09-11T02:20:33.090' AS DateTime))
INSERT [dbo].[AuditLogs] ([AuditID], [UserID], [ActionPerformed], [ActionDate]) VALUES (3, N'14141414-1414-1414-1414-141414141414', N'Added parent to the system.', CAST(N'2026-09-11T02:20:33.090' AS DateTime))
SET IDENTITY_INSERT [dbo].[AuditLogs] OFF
GO
INSERT [dbo].[ChildParentRelationship] ([RelationshipID], [ChildID], [ParentID], [RelationshipType], [IsPrimaryContact], [CanReceiveNotifications], [Status], [CreatedAt], [UpdatedAt]) VALUES (N'4272c890-4474-442b-b21a-222a31e6914d', N'cccccccc-cccc-cccc-cccc-cccccccccccc', N'22222222-2222-2222-2222-222222222222', N'Mother', 1, 1, N'Active', CAST(N'2026-09-11T02:20:32.9766667' AS DateTime2), NULL)
INSERT [dbo].[ChildParentRelationship] ([RelationshipID], [ChildID], [ParentID], [RelationshipType], [IsPrimaryContact], [CanReceiveNotifications], [Status], [CreatedAt], [UpdatedAt]) VALUES (N'358e5ed3-aaec-46dc-89ac-435cea0976c3', N'33333333-3333-3333-3333-333333333332', N'11111111-1111-1111-1111-111111111111', N'Father', 1, 1, N'Active', CAST(N'2026-09-12T02:23:31.1200000' AS DateTime2), NULL)
INSERT [dbo].[ChildParentRelationship] ([RelationshipID], [ChildID], [ParentID], [RelationshipType], [IsPrimaryContact], [CanReceiveNotifications], [Status], [CreatedAt], [UpdatedAt]) VALUES (N'a1bd7335-0bad-48b3-87a2-712cdbf006f1', N'bbbbbbbb-bbbb-bbbb-bbbb-bbbbbbbbbbbb', N'11111111-1111-1111-1111-111111111111', N'Father', 1, 1, N'Active', CAST(N'2026-09-11T02:20:32.9766667' AS DateTime2), NULL)
GO
INSERT [dbo].[Children] ([ChildID], [FirstName], [MiddleName], [LastName], [BirthDate], [PlaceOfBirth], [Address], [HealthCenter], [Barangay], [Sex], [CreatedAt], [UpdatedAt], [Allergies], [BirthHeight], [BirthWeight]) VALUES (N'33333333-3333-3333-3333-333333333331', N'Sofia', N'Santos', N'Reyes', CAST(N'2024-03-10' AS Date), N'Quezon City', N'Quezon City', N'QC Health Center 3', 12, N'Female', CAST(N'2026-09-12T02:23:31.1166667' AS DateTime2), CAST(N'2026-09-23T09:42:52.4979456' AS DateTime2), NULL, CAST(33.00 AS Decimal(5, 2)), CAST(47.00 AS Decimal(5, 2)))
INSERT [dbo].[Children] ([ChildID], [FirstName], [MiddleName], [LastName], [BirthDate], [PlaceOfBirth], [Address], [HealthCenter], [Barangay], [Sex], [CreatedAt], [UpdatedAt], [Allergies], [BirthHeight], [BirthWeight]) VALUES (N'33333333-3333-3333-3333-333333333332', N'Miguel', N'Cruz', N'Dela Cruz', CAST(N'2023-07-22' AS Date), N'Manila', N'Manila', N'Manila Health Center 15', 15, N'Male', CAST(N'2026-09-12T02:23:31.1166667' AS DateTime2), CAST(N'2026-09-12T02:23:31.1166667' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[Children] ([ChildID], [FirstName], [MiddleName], [LastName], [BirthDate], [PlaceOfBirth], [Address], [HealthCenter], [Barangay], [Sex], [CreatedAt], [UpdatedAt], [Allergies], [BirthHeight], [BirthWeight]) VALUES (N'd72fcbe4-17c9-4d4f-ba6e-6701f188314a', N'Ryan', N'Renolds', N'Reyes', CAST(N'2026-08-01' AS Date), N'1', N'1111111', N'Leveriza Health Center', 21, N'Male', CAST(N'2026-09-18T20:25:17.2795417' AS DateTime2), CAST(N'2026-09-18T20:25:17.2795417' AS DateTime2), NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[ClinicOperatingSchedule] ON 

INSERT [dbo].[ClinicOperatingSchedule] ([ScheduleID], [DayOfWeek], [IsOpen], [OpeningTime], [ClosingTime], [QueueCutoffTime], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (1, 1, 1, CAST(N'08:00:00' AS Time), CAST(N'17:00:00' AS Time), CAST(N'16:00:00' AS Time), 1, CAST(N'2026-09-11T02:20:33.0433333' AS DateTime2), NULL)
INSERT [dbo].[ClinicOperatingSchedule] ([ScheduleID], [DayOfWeek], [IsOpen], [OpeningTime], [ClosingTime], [QueueCutoffTime], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (2, 2, 1, CAST(N'08:00:00' AS Time), CAST(N'17:00:00' AS Time), CAST(N'16:00:00' AS Time), 1, CAST(N'2026-09-11T02:20:33.0433333' AS DateTime2), NULL)
INSERT [dbo].[ClinicOperatingSchedule] ([ScheduleID], [DayOfWeek], [IsOpen], [OpeningTime], [ClosingTime], [QueueCutoffTime], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (3, 3, 1, CAST(N'08:00:00' AS Time), CAST(N'17:00:00' AS Time), CAST(N'16:00:00' AS Time), 1, CAST(N'2026-09-11T02:20:33.0433333' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[ClinicOperatingSchedule] OFF
GO
SET IDENTITY_INSERT [dbo].[ClinicRooms] ON 

INSERT [dbo].[ClinicRooms] ([RoomID], [RoomNumber], [AssignedDoctorID], [IsOccupied], [CurrentChildID]) VALUES (1, N'101', N'13131313-1313-1313-1313-131313131313', 1, N'cccccccc-cccc-cccc-cccc-cccccccccccc')
INSERT [dbo].[ClinicRooms] ([RoomID], [RoomNumber], [AssignedDoctorID], [IsOccupied], [CurrentChildID]) VALUES (2, N'102', N'13131313-1313-1313-1313-131313131313', 0, NULL)
INSERT [dbo].[ClinicRooms] ([RoomID], [RoomNumber], [AssignedDoctorID], [IsOccupied], [CurrentChildID]) VALUES (3, N'103', NULL, 0, NULL)
SET IDENTITY_INSERT [dbo].[ClinicRooms] OFF
GO
SET IDENTITY_INSERT [dbo].[ClinicScheduleExceptions] ON 

INSERT [dbo].[ClinicScheduleExceptions] ([ExceptionID], [ExceptionDate], [IsOpen], [OpeningTime], [ClosingTime], [QueueCutoffTime], [Reason], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (1, CAST(N'2026-09-17' AS Date), 0, CAST(N'07:00:00' AS Time), CAST(N'12:00:00' AS Time), CAST(N'10:00:00' AS Time), N'l', 1, CAST(N'2026-09-16T17:38:32.5594899' AS DateTime2), NULL)
INSERT [dbo].[ClinicScheduleExceptions] ([ExceptionID], [ExceptionDate], [IsOpen], [OpeningTime], [ClosingTime], [QueueCutoffTime], [Reason], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (2, CAST(N'2026-09-21' AS Date), 0, CAST(N'07:00:00' AS Time), CAST(N'12:00:00' AS Time), CAST(N'10:00:00' AS Time), N'Transport Strike', 1, CAST(N'2026-09-24T05:03:34.4258563' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[ClinicScheduleExceptions] OFF
GO
INSERT [dbo].[Notifications] ([NotificationID], [ParentID], [ChildID], [VaccineID], [DoseNumber], [Type], [Title], [Message], [ScheduledDate], [IsRead], [CreatedAt], [UserID]) VALUES (N'4ac90677-3acc-4b97-769c-08df12508dc5', N'22222222-2222-2222-2222-222222222222', N'33333333-3333-3333-3333-333333333331', 5, 1, N'Completed', N'Vaccine administered — Sofia Reyes', N'BCG (Dose 1) was administered to Sofia Reyes on September 14, 2026.', CAST(N'2026-09-14' AS Date), 1, CAST(N'2026-09-14T19:08:49.507' AS DateTime), NULL)
INSERT [dbo].[Notifications] ([NotificationID], [ParentID], [ChildID], [VaccineID], [DoseNumber], [Type], [Title], [Message], [ScheduledDate], [IsRead], [CreatedAt], [UserID]) VALUES (N'09a11e22-e221-4f78-769d-08df12508dc5', N'22222222-2222-2222-2222-222222222222', N'33333333-3333-3333-3333-333333333331', 1, 1, N'Completed', N'Vaccine administered — Sofia Reyes', N'BCG Vaccine (Dose 1) was administered to Sofia Reyes on September 14, 2026.', CAST(N'2026-09-14' AS Date), 1, CAST(N'2026-09-14T19:26:19.823' AS DateTime), NULL)
INSERT [dbo].[Notifications] ([NotificationID], [ParentID], [ChildID], [VaccineID], [DoseNumber], [Type], [Title], [Message], [ScheduledDate], [IsRead], [CreatedAt], [UserID]) VALUES (N'28777d81-72f3-49ae-37cd-08df1253597e', N'22222222-2222-2222-2222-222222222222', N'cccccccc-cccc-cccc-cccc-cccccccccccc', 7, 1, N'Completed', N'Vaccine administered — Angela Reyes', N'Pentavalent (DPT-HepB-Hib) (Dose 1) was administered to Angela Reyes on September 14, 2026.', CAST(N'2026-09-14' AS Date), 1, CAST(N'2026-09-14T19:28:50.290' AS DateTime), NULL)
GO
INSERT [dbo].[Parents] ([ParentID], [FirstName], [MiddleName], [LastName], [Email], [ContactNo], [BarangayNo], [Address], [CreatedAt], [UpdatedAt], [PasswordHash], [MustChangePassword], [TemporaryPasswordExpiresAt], [LastLogin]) VALUES (N'61709c3c-e5ec-4d35-a4f1-0041fc611ebe', N'Aira', NULL, N'Sanguinis', N'airasanguinis@gmail.com', N'092222222', N'21', N'111111', CAST(N'2026-09-25T09:30:36.2066667' AS DateTime2), CAST(N'2026-09-25T09:30:36.2066667' AS DateTime2), N'$2b$10$OZDnx8RT3rppw49G7RBOEO/fH4dWNzPCyP0M62hp7BzziZ34hATR2', 1, NULL, NULL)
INSERT [dbo].[Parents] ([ParentID], [FirstName], [MiddleName], [LastName], [Email], [ContactNo], [BarangayNo], [Address], [CreatedAt], [UpdatedAt], [PasswordHash], [MustChangePassword], [TemporaryPasswordExpiresAt], [LastLogin]) VALUES (N'de39282d-1b32-4f67-9a15-02fbd5c09ae5', N'a', NULL, N'—', N'a', N'2', N'a', N'a', CAST(N'2026-09-13T00:57:04.9700000' AS DateTime2), CAST(N'2026-09-13T00:57:04.9700000' AS DateTime2), N'$2b$10$sNN/1wIeG5/C3m0Y5SdY.elHpHppEaQ1fQbZWixFanyWpqeJ2zOfK', 1, CAST(N'2026-09-14T00:57:04.9633333' AS DateTime2), NULL)
INSERT [dbo].[Parents] ([ParentID], [FirstName], [MiddleName], [LastName], [Email], [ContactNo], [BarangayNo], [Address], [CreatedAt], [UpdatedAt], [PasswordHash], [MustChangePassword], [TemporaryPasswordExpiresAt], [LastLogin]) VALUES (N'11111111-1111-1111-1111-111111111111', N'Juan', N'Santos', N'Dela Cruz', N'juan.delacruz@example.com', N'09171234567', N'Barangay 1', N'123 Sampaguita Street', CAST(N'2026-09-11T02:20:32.9633333' AS DateTime2), CAST(N'2026-09-11T02:20:32.9633333' AS DateTime2), N'DEMO_HASH_JUAN', 0, NULL, NULL)
GO
INSERT [dbo].[PasswordOtps] ([OTPID], [ParentID], [UserID], [OTPHash], [Purpose], [ExpiresAt], [UsedAt], [AttemptCount], [CreatedAt]) VALUES (N'c691626e-d179-4bb2-b402-a53ca679f8f0', N'11111111-1111-1111-1111-111111111111', NULL, N'DEMO_OTP_HASH_001', N'PasswordReset', CAST(N'2026-09-10T18:30:33.0933333' AS DateTime2), NULL, 0, CAST(N'2026-09-10T18:20:33.0933333' AS DateTime2))
GO
INSERT [dbo].[PasswordResetTokens] ([ResetTokenID], [AccountType], [AccountID], [OTPHash], [ExpiresAt], [IsUsed], [AttemptCount], [CreatedAt], [UsedAt]) VALUES (N'ea01aabd-a7e1-4685-bf71-c478c4147337', N'Parent', N'43b3b13f-b091-4e8b-9ff1-b26ea39d6c03', N'DEMO_RESET_HASH_001', CAST(N'2026-09-10T18:50:33.1000000' AS DateTime2), 0, 0, CAST(N'2026-09-10T18:20:33.1000000' AS DateTime2), NULL)
GO
INSERT [dbo].[Personnel] ([PersonnelID], [PersonnelCode], [FirstName], [MiddleName], [LastName], [Role], [LicenseNumber], [Email], [ContactNo], [Address], [Status], [CreatedAt], [UpdatedAt]) VALUES (N'ec25e877-14d7-44db-b3b0-62d47408bd5d', N'PER-ADM-001', N'Rosa', N'M', N'Villanueva', N'Administrator', NULL, N'rosa.villanueva@demo.com', N'09170004444', N'Manila', 1, CAST(N'2026-09-12T18:15:12.4866667' AS DateTime2), NULL)
INSERT [dbo].[Personnel] ([PersonnelID], [PersonnelCode], [FirstName], [MiddleName], [LastName], [Role], [LicenseNumber], [Email], [ContactNo], [Address], [Status], [CreatedAt], [UpdatedAt]) VALUES (N'99999999-9999-9999-9999-999999999999', N'STF-001', N'Liza', N'Anne', N'Garcia', N'Staff', NULL, N'liza.garcia@demo.com', N'09170003333', N'Manila', 1, CAST(N'2026-09-11T02:20:32.9866667' AS DateTime2), NULL)
INSERT [dbo].[Personnel] ([PersonnelID], [PersonnelCode], [FirstName], [MiddleName], [LastName], [Role], [LicenseNumber], [Email], [ContactNo], [Address], [Status], [CreatedAt], [UpdatedAt]) VALUES (N'5f8b94db-c30c-430f-991e-ba99e7f55d6a', N'PER-NUR-001', N'Anna', N'Marie', N'Santos', N'Nurse', N'NUR-DEMO-001', N'anna.santos@demo.com', N'09170001111', N'Manila', 1, CAST(N'2026-09-12T02:23:31.1133333' AS DateTime2), NULL)
GO
INSERT [dbo].[QueueChildren] ([QueueChildID], [QueueID], [ChildID], [CreatedAt]) VALUES (N'12038dfd-96b7-47f4-bc2c-4e05d44eb4e4', N'248a798d-b4ed-4a63-b408-efbf395498b9', N'd72fcbe4-17c9-4d4f-ba6e-6701f188314a', CAST(N'2026-09-22T12:37:10.043' AS DateTime))
INSERT [dbo].[QueueChildren] ([QueueChildID], [QueueID], [ChildID], [CreatedAt]) VALUES (N'82542e54-9720-4792-834d-91158853e4dc', N'383d53e7-cf9c-44c3-afa6-ecb7bdc1610d', N'cccccccc-cccc-cccc-cccc-cccccccccccc', CAST(N'2026-09-15T22:58:28.873' AS DateTime))
INSERT [dbo].[QueueChildren] ([QueueChildID], [QueueID], [ChildID], [CreatedAt]) VALUES (N'763d4dcb-a007-4b93-82e0-c0165f5a9506', N'383d53e7-cf9c-44c3-afa6-ecb7bdc1610d', N'33333333-3333-3333-3333-333333333331', CAST(N'2026-09-15T22:58:28.873' AS DateTime))
GO
INSERT [dbo].[Queues] ([QueueID], [ParentID], [QueueNumber], [QueueDate], [Status], [AssignedRoomID], [CreatedAt], [UpdatedAt]) VALUES (N'7bd85808-f296-4da2-a4eb-a0b1a943a354', N'22222222-2222-2222-2222-222222222222', 1, CAST(N'2026-09-24' AS Date), N'Completed', 1, CAST(N'2026-09-24T12:56:06.237' AS DateTime), CAST(N'2026-09-24T13:00:04.247' AS DateTime))
INSERT [dbo].[Queues] ([QueueID], [ParentID], [QueueNumber], [QueueDate], [Status], [AssignedRoomID], [CreatedAt], [UpdatedAt]) VALUES (N'383d53e7-cf9c-44c3-afa6-ecb7bdc1610d', N'22222222-2222-2222-2222-222222222222', 1, CAST(N'2026-09-16' AS Date), N'Completed', 1, CAST(N'2026-09-15T22:58:28.873' AS DateTime), CAST(N'2026-09-22T12:24:48.533' AS DateTime))
INSERT [dbo].[Queues] ([QueueID], [ParentID], [QueueNumber], [QueueDate], [Status], [AssignedRoomID], [CreatedAt], [UpdatedAt]) VALUES (N'248a798d-b4ed-4a63-b408-efbf395498b9', N'22222222-2222-2222-2222-222222222222', 1, CAST(N'2026-09-22' AS Date), N'Completed', 4, CAST(N'2026-09-22T12:37:10.043' AS DateTime), CAST(N'2026-09-22T17:55:11.063' AS DateTime))
GO
INSERT [dbo].[Staff] ([StaffID], [AccountID], [FirstName], [MiddleName], [LastName], [ContactNo], [Address], [CreatedAt], [UpdatedAt]) VALUES (N'81cd447a-203d-405a-a2ed-9f9ee0d9afba', N'a4cbb06b-1872-4c8c-94d1-5d928e201407', N'Liza', N'Anne', N'Garcia', N'09170003333', N'Manila', CAST(N'2026-09-12T02:23:31.117' AS DateTime), NULL)
GO
INSERT [dbo].[Users] ([UserID], [FirstName], [MiddleName], [LastName], [Username], [PasswordHash], [ContactNo], [UserType], [PRCNo], [AccountStatus], [Email], [Address], [CreatedAt], [Position]) VALUES (N'12121212-1212-1212-1212-121212121212', N'Anna', N'Marie', N'Santos', N'nurse_anna', N'$2b$10$/6IdVycfJG9eIO/2VTsV2uhHGklS6nOFIAJROzwtpE28WFV4J5TSq', N'09170001111', N'Nurse', N'NUR-DEMO-001', N'Active', N'anna.santos@demo.com', N'Manila', CAST(N'2026-09-11T02:20:32.990' AS DateTime), N'Nurse')
INSERT [dbo].[Users] ([UserID], [FirstName], [MiddleName], [LastName], [Username], [PasswordHash], [ContactNo], [UserType], [PRCNo], [AccountStatus], [Email], [Address], [CreatedAt], [Position]) VALUES (N'13131313-1313-1313-1313-131313131313', N'Carlos', N'Miguel', N'Reyes', N'doctor_carlos', N'$2b$10$/6IdVycfJG9eIO/2VTsV2uhHGklS6nOFIAJROzwtpE28WFV4J5TSq', N'09170002222', N'Doctor', N'DOC-DEMO-001', N'Active', N'carlos.reyes@demo.com', N'Manila', CAST(N'2026-09-11T02:20:32.990' AS DateTime), N'Doctor')
INSERT [dbo].[Users] ([UserID], [FirstName], [MiddleName], [LastName], [Username], [PasswordHash], [ContactNo], [UserType], [PRCNo], [AccountStatus], [Email], [Address], [CreatedAt], [Position]) VALUES (N'14141414-1414-1414-1414-141414141414', N'Liza', N'Anne', N'Garcia', N'staff_liza', N'$2b$10$/6IdVycfJG9eIO/2VTsV2uhHGklS6nOFIAJROzwtpE28WFV4J5TSq', N'09170003333', N'Admission', NULL, N'Active', N'liza.garcia@demo.com', N'Manila', CAST(N'2026-09-11T02:20:32.990' AS DateTime), N'Staff')
GO
INSERT [dbo].[VaccinationRecords] ([VaccinationRecordID], [RecordCode], [ChildID], [VaccineID], [InventoryID], [TimelineID], [DoseNumber], [VaccinationDate], [AdministeredByUserID], [NurseObservation], [DoctorDiagnosis], [DoctorDiagnosedByUserID], [DoctorDiagnosedAt], [Status], [CreatedAt], [UpdatedAt]) VALUES (N'11e75dbe-b40d-4749-8487-02db08756621', N'HIST-7EE48B53DC40424B9E8D', N'33333333-3333-3333-3333-333333333331', 11, NULL, NULL, 1, CAST(N'2024-12-06T00:00:00.0000000' AS DateTime2), NULL, NULL, NULL, NULL, NULL, N'Completed', CAST(N'2026-09-23T09:57:12.8750611' AS DateTime2), NULL)
INSERT [dbo].[VaccinationRecords] ([VaccinationRecordID], [RecordCode], [ChildID], [VaccineID], [InventoryID], [TimelineID], [DoseNumber], [VaccinationDate], [AdministeredByUserID], [NurseObservation], [DoctorDiagnosis], [DoctorDiagnosedByUserID], [DoctorDiagnosedAt], [Status], [CreatedAt], [UpdatedAt]) VALUES (N'79d0580b-b7eb-41b5-a8df-02e3d85e37ab', N'HIST-0CCCD53B05774AACAF7E', N'aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa', 6, NULL, NULL, 1, CAST(N'2023-03-15T00:00:00.0000000' AS DateTime2), NULL, NULL, NULL, NULL, NULL, N'Completed', CAST(N'2026-09-23T09:53:15.3615333' AS DateTime2), NULL)
INSERT [dbo].[VaccinationRecords] ([VaccinationRecordID], [RecordCode], [ChildID], [VaccineID], [InventoryID], [TimelineID], [DoseNumber], [VaccinationDate], [AdministeredByUserID], [NurseObservation], [DoctorDiagnosis], [DoctorDiagnosedByUserID], [DoctorDiagnosedAt], [Status], [CreatedAt], [UpdatedAt]) VALUES (N'cabb4456-bdac-4ac7-adf2-197762333e47', N'HIST-CF58418EA36C483DAC5A', N'33333333-3333-3333-3333-333333333331', 11, NULL, NULL, 2, CAST(N'2025-03-07T00:00:00.0000000' AS DateTime2), NULL, NULL, NULL, NULL, NULL, N'Completed', CAST(N'2026-09-23T09:57:39.7608070' AS DateTime2), NULL)
GO
SET IDENTITY_INSERT [dbo].[VaccinationScheduleRules] ON 

INSERT [dbo].[VaccinationScheduleRules] ([RuleID], [VaccineID], [DoseNumber], [RecommendedAgeDays], [MinimumAgeDays], [IntervalFromPreviousDoseDays], [SequenceOrder], [IsRequired], [CreatedAt], [UpdatedAt]) VALUES (1, 5, 1, 0, 0, 0, 1, 1, CAST(N'2026-09-18T20:25:09.2600000' AS DateTime2), NULL)
INSERT [dbo].[VaccinationScheduleRules] ([RuleID], [VaccineID], [DoseNumber], [RecommendedAgeDays], [MinimumAgeDays], [IntervalFromPreviousDoseDays], [SequenceOrder], [IsRequired], [CreatedAt], [UpdatedAt]) VALUES (2, 6, 1, 0, 0, 0, 2, 1, CAST(N'2026-09-18T20:25:09.2600000' AS DateTime2), NULL)
INSERT [dbo].[VaccinationScheduleRules] ([RuleID], [VaccineID], [DoseNumber], [RecommendedAgeDays], [MinimumAgeDays], [IntervalFromPreviousDoseDays], [SequenceOrder], [IsRequired], [CreatedAt], [UpdatedAt]) VALUES (3, 7, 1, 42, 42, 0, 3, 1, CAST(N'2026-09-18T20:25:09.2600000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[VaccinationScheduleRules] OFF
GO
INSERT [dbo].[VaccinationTimeline] ([TimelineID], [TimelineCode], [ChildID], [VaccineID], [DoseNumber], [ExpectedDate], [ScheduledDate], [CompletedDate], [VaccinationRecordID], [Status], [CreatedAt], [UpdatedAt]) VALUES (N'4e3cd5eb-a268-4a79-9cf6-0180f86eec0d', N'TL-0A6CD7CD0681', N'd72fcbe4-17c9-4d4f-ba6e-6701f188314a', 7, 2, CAST(N'2026-10-10' AS Date), CAST(N'2026-10-12' AS Date), NULL, NULL, N'Pending', CAST(N'2026-09-18T20:25:17.3454477' AS DateTime2), NULL)
INSERT [dbo].[VaccinationTimeline] ([TimelineID], [TimelineCode], [ChildID], [VaccineID], [DoseNumber], [ExpectedDate], [ScheduledDate], [CompletedDate], [VaccinationRecordID], [Status], [CreatedAt], [UpdatedAt]) VALUES (N'63ed7b6e-0b3c-415f-9d73-081c74ca6aea', N'TL-5DFDED36A10F', N'd72fcbe4-17c9-4d4f-ba6e-6701f188314a', 8, 2, CAST(N'2026-10-10' AS Date), CAST(N'2026-10-12' AS Date), NULL, NULL, N'Pending', CAST(N'2026-09-18T20:25:17.3467803' AS DateTime2), NULL)
INSERT [dbo].[VaccinationTimeline] ([TimelineID], [TimelineCode], [ChildID], [VaccineID], [DoseNumber], [ExpectedDate], [ScheduledDate], [CompletedDate], [VaccinationRecordID], [Status], [CreatedAt], [UpdatedAt]) VALUES (N'16888467-d45c-4746-8e30-1e05d5391fae', N'TL-696858F0EB82', N'd72fcbe4-17c9-4d4f-ba6e-6701f188314a', 11, 1, CAST(N'2027-04-28' AS Date), CAST(N'2027-04-28' AS Date), NULL, NULL, N'Pending', CAST(N'2026-09-18T20:25:17.3554664' AS DateTime2), NULL)
GO
SET IDENTITY_INSERT [dbo].[VaccineDoses] ON 

INSERT [dbo].[VaccineDoses] ([DoseID], [VaccineID], [DoseNumber], [MinIntervalDays]) VALUES (10, 5, 1, NULL)
INSERT [dbo].[VaccineDoses] ([DoseID], [VaccineID], [DoseNumber], [MinIntervalDays]) VALUES (11, 6, 1, NULL)
INSERT [dbo].[VaccineDoses] ([DoseID], [VaccineID], [DoseNumber], [MinIntervalDays]) VALUES (12, 7, 1, NULL)
SET IDENTITY_INSERT [dbo].[VaccineDoses] OFF
GO
SET IDENTITY_INSERT [dbo].[VaccineInventory] ON 

INSERT [dbo].[VaccineInventory] ([InventoryID], [VaccineID], [LotNumber], [InitialQuantity], [CurrentQuantity], [MinimumStock], [ExpirationDate], [ReceivedDate], [Supplier], [Status], [CreatedAt], [UpdatedAt]) VALUES (5, 5, N'BCG-LOT-001', 100, 77, 20, CAST(N'2027-03-12' AS Date), CAST(N'2026-09-12' AS Date), N'DOH Regional Warehouse', 1, CAST(N'2026-09-12T02:23:31.120' AS DateTime), CAST(N'2026-09-24T04:59:23.667' AS DateTime))
INSERT [dbo].[VaccineInventory] ([InventoryID], [VaccineID], [LotNumber], [InitialQuantity], [CurrentQuantity], [MinimumStock], [ExpirationDate], [ReceivedDate], [Supplier], [Status], [CreatedAt], [UpdatedAt]) VALUES (6, 6, N'HEPB-LOT-001', 100, 88, 20, CAST(N'2027-03-12' AS Date), CAST(N'2026-09-12' AS Date), N'DOH Regional Warehouse', 1, CAST(N'2026-09-12T02:23:31.123' AS DateTime), CAST(N'2026-09-24T05:00:00.937' AS DateTime))
INSERT [dbo].[VaccineInventory] ([InventoryID], [VaccineID], [LotNumber], [InitialQuantity], [CurrentQuantity], [MinimumStock], [ExpirationDate], [ReceivedDate], [Supplier], [Status], [CreatedAt], [UpdatedAt]) VALUES (7, 7, N'PENTA-LOT-001', 150, 118, 30, CAST(N'2027-05-12' AS Date), CAST(N'2026-09-12' AS Date), N'DOH Regional Warehouse', 1, CAST(N'2026-09-12T02:23:31.123' AS DateTime), CAST(N'2026-09-22T04:38:15.400' AS DateTime))
SET IDENTITY_INSERT [dbo].[VaccineInventory] OFF
GO
SET IDENTITY_INSERT [dbo].[Vaccines] ON 

INSERT [dbo].[Vaccines] ([VaccineID], [VaccineName], [Description], [Abbreviation], [TargetDisease], [RecommendedAge], [AgeCategory], [NumberOfRequiredDoses], [DoseInterval], [AdministrationRoute], [Status], [CreatedAt], [UpdatedAt]) VALUES (5, N'BCG', N'Bacillus Calmette-Guerin vaccine', N'BCG', N'Tuberculosis', N'At birth', N'Infant', 1, NULL, N'Intradermal', 1, CAST(N'2026-09-12T02:23:31.1200000' AS DateTime2), NULL)
INSERT [dbo].[Vaccines] ([VaccineID], [VaccineName], [Description], [Abbreviation], [TargetDisease], [RecommendedAge], [AgeCategory], [NumberOfRequiredDoses], [DoseInterval], [AdministrationRoute], [Status], [CreatedAt], [UpdatedAt]) VALUES (6, N'Hepatitis B', N'Hepatitis B vaccine', N'HepB', N'Hepatitis B', N'At birth', N'Infant', 1, NULL, N'Intramuscular', 1, CAST(N'2026-09-12T02:23:31.1200000' AS DateTime2), NULL)
INSERT [dbo].[Vaccines] ([VaccineID], [VaccineName], [Description], [Abbreviation], [TargetDisease], [RecommendedAge], [AgeCategory], [NumberOfRequiredDoses], [DoseInterval], [AdministrationRoute], [Status], [CreatedAt], [UpdatedAt]) VALUES (7, N'Pentavalent (DPT-HepB-Hib)', N'Combination vaccine', N'Penta', N'Diphtheria, Pertussis, Tetanus, HepB, Hib', N'6-14 weeks', N'Infant', 3, N'4 weeks between doses', N'Intramuscular', 1, CAST(N'2026-09-12T02:23:31.1233333' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Vaccines] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Accounts_Username]    Script Date: 9/25/2026 8:05:18 PM ******/
ALTER TABLE [dbo].[Accounts] ADD  CONSTRAINT [UQ_Accounts_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ClinicScheduleExceptions_ExceptionDate]    Script Date: 9/25/2026 8:05:18 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ClinicScheduleExceptions_ExceptionDate] ON [dbo].[ClinicScheduleExceptions]
(
	[ExceptionDate] ASC
)
WHERE ([IsActive]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Parents__A9D10534201245FB]    Script Date: 9/25/2026 8:05:18 PM ******/
ALTER TABLE [dbo].[Parents] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Parents__A9D105342902F341]    Script Date: 9/25/2026 8:05:18 PM ******/
ALTER TABLE [dbo].[Parents] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Parents__A9D10534C168927B]    Script Date: 9/25/2026 8:05:18 PM ******/
ALTER TABLE [dbo].[Parents] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PasswordOtps_ExpiresAt]    Script Date: 9/25/2026 8:05:18 PM ******/
CREATE NONCLUSTERED INDEX [IX_PasswordOtps_ExpiresAt] ON [dbo].[PasswordOtps]
(
	[ExpiresAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PasswordOtps_ParentID]    Script Date: 9/25/2026 8:05:18 PM ******/
CREATE NONCLUSTERED INDEX [IX_PasswordOtps_ParentID] ON [dbo].[PasswordOtps]
(
	[ParentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PasswordOtps_UserID]    Script Date: 9/25/2026 8:05:18 PM ******/
CREATE NONCLUSTERED INDEX [IX_PasswordOtps_UserID] ON [dbo].[PasswordOtps]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PasswordResetTokens_Account]    Script Date: 9/25/2026 8:05:18 PM ******/
CREATE NONCLUSTERED INDEX [IX_PasswordResetTokens_Account] ON [dbo].[PasswordResetTokens]
(
	[AccountType] ASC,
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PasswordResetTokens_ExpiresAt]    Script Date: 9/25/2026 8:05:18 PM ******/
CREATE NONCLUSTERED INDEX [IX_PasswordResetTokens_ExpiresAt] ON [dbo].[PasswordResetTokens]
(
	[ExpiresAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Personnel_Code]    Script Date: 9/25/2026 8:05:18 PM ******/
ALTER TABLE [dbo].[Personnel] ADD  CONSTRAINT [UQ_Personnel_Code] UNIQUE NONCLUSTERED 
(
	[PersonnelCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E40AE29EE3]    Script Date: 9/25/2026 8:05:18 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E486EDFABC]    Script Date: 9/25/2026 8:05:18 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E49E5BC415]    Script Date: 9/25/2026 8:05:18 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_VaccinationRecord_ChildDose]    Script Date: 9/25/2026 8:05:18 PM ******/
ALTER TABLE [dbo].[VaccinationRecords] ADD  CONSTRAINT [UQ_VaccinationRecord_ChildDose] UNIQUE NONCLUSTERED 
(
	[ChildID] ASC,
	[VaccineID] ASC,
	[DoseNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_VaccinationRecords_RecordCode]    Script Date: 9/25/2026 8:05:18 PM ******/
ALTER TABLE [dbo].[VaccinationRecords] ADD  CONSTRAINT [UQ_VaccinationRecords_RecordCode] UNIQUE NONCLUSTERED 
(
	[RecordCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_VaccineDose]    Script Date: 9/25/2026 8:05:18 PM ******/
ALTER TABLE [dbo].[VaccinationScheduleRules] ADD  CONSTRAINT [UQ_VaccineDose] UNIQUE NONCLUSTERED 
(
	[VaccineID] ASC,
	[DoseNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_VaccineTimeline_ChildDose]    Script Date: 9/25/2026 8:05:18 PM ******/
ALTER TABLE [dbo].[VaccinationTimeline] ADD  CONSTRAINT [UQ_VaccineTimeline_ChildDose] UNIQUE NONCLUSTERED 
(
	[ChildID] ASC,
	[VaccineID] ASC,
	[DoseNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_VaccineTimeline_Code]    Script Date: 9/25/2026 8:05:18 PM ******/
ALTER TABLE [dbo].[VaccinationTimeline] ADD  CONSTRAINT [UQ_VaccineTimeline_Code] UNIQUE NONCLUSTERED 
(
	[TimelineCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AccountOTPs] ADD  DEFAULT ((0)) FOR [IsUsed]
GO
ALTER TABLE [dbo].[AccountOTPs] ADD  DEFAULT ((0)) FOR [Attempts]
GO
ALTER TABLE [dbo].[AccountOTPs] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT (newid()) FOR [AccountID]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ((1)) FOR [MustChangePassword]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ((0)) FOR [FailedLoginAttempts]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  DEFAULT (getdate()) FOR [ActionDate]
GO
ALTER TABLE [dbo].[ChildParentRelationship] ADD  DEFAULT (newid()) FOR [RelationshipID]
GO
ALTER TABLE [dbo].[ChildParentRelationship] ADD  DEFAULT ((0)) FOR [IsPrimaryContact]
GO
ALTER TABLE [dbo].[ChildParentRelationship] ADD  DEFAULT ((1)) FOR [CanReceiveNotifications]
GO
ALTER TABLE [dbo].[ChildParentRelationship] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[ChildParentRelationship] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Children] ADD  DEFAULT (newid()) FOR [ChildID]
GO
ALTER TABLE [dbo].[Children] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Children] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[ClinicOperatingSchedule] ADD  DEFAULT ((0)) FOR [IsOpen]
GO
ALTER TABLE [dbo].[ClinicOperatingSchedule] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ClinicOperatingSchedule] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ClinicRooms] ADD  DEFAULT ((0)) FOR [IsOccupied]
GO
ALTER TABLE [dbo].[ClinicScheduleExceptions] ADD  DEFAULT ((0)) FOR [IsOpen]
GO
ALTER TABLE [dbo].[ClinicScheduleExceptions] ADD  DEFAULT ('07:00:00') FOR [OpeningTime]
GO
ALTER TABLE [dbo].[ClinicScheduleExceptions] ADD  DEFAULT ('12:00:00') FOR [ClosingTime]
GO
ALTER TABLE [dbo].[ClinicScheduleExceptions] ADD  DEFAULT ('10:00:00') FOR [QueueCutoffTime]
GO
ALTER TABLE [dbo].[ClinicScheduleExceptions] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ClinicScheduleExceptions] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (newid()) FOR [NotificationID]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Parents] ADD  DEFAULT (newid()) FOR [ParentID]
GO
ALTER TABLE [dbo].[Parents] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Parents] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Parents] ADD  CONSTRAINT [DF_Parents_MustChangePassword]  DEFAULT ((0)) FOR [MustChangePassword]
GO
ALTER TABLE [dbo].[PasswordOtps] ADD  DEFAULT (newid()) FOR [OTPID]
GO
ALTER TABLE [dbo].[PasswordOtps] ADD  CONSTRAINT [DF_PasswordOtps_AttemptCount]  DEFAULT ((0)) FOR [AttemptCount]
GO
ALTER TABLE [dbo].[PasswordOtps] ADD  CONSTRAINT [DF_PasswordOtps_CreatedAt]  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PasswordResetTokens] ADD  DEFAULT (newid()) FOR [ResetTokenID]
GO
ALTER TABLE [dbo].[PasswordResetTokens] ADD  CONSTRAINT [DF_PasswordResetTokens_IsUsed]  DEFAULT ((0)) FOR [IsUsed]
GO
ALTER TABLE [dbo].[PasswordResetTokens] ADD  CONSTRAINT [DF_PasswordResetTokens_AttemptCount]  DEFAULT ((0)) FOR [AttemptCount]
GO
ALTER TABLE [dbo].[PasswordResetTokens] ADD  CONSTRAINT [DF_PasswordResetTokens_CreatedAt]  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Personnel] ADD  DEFAULT (newid()) FOR [PersonnelID]
GO
ALTER TABLE [dbo].[Personnel] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Personnel] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Queue] ADD  DEFAULT ('Waiting') FOR [QueueStatus]
GO
ALTER TABLE [dbo].[Queue] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[QueueChildren] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Queues] ADD  DEFAULT ('Waiting') FOR [Status]
GO
ALTER TABLE [dbo].[Queues] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Staff] ADD  DEFAULT (newid()) FOR [StaffID]
GO
ALTER TABLE [dbo].[Staff] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (newid()) FOR [UserID]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('Active') FOR [AccountStatus]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[VaccinationRecords] ADD  DEFAULT (newid()) FOR [VaccinationRecordID]
GO
ALTER TABLE [dbo].[VaccinationRecords] ADD  DEFAULT ('Completed') FOR [Status]
GO
ALTER TABLE [dbo].[VaccinationRecords] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[VaccinationScheduleRules] ADD  DEFAULT ((1)) FOR [IsRequired]
GO
ALTER TABLE [dbo].[VaccinationScheduleRules] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[VaccinationTimeline] ADD  DEFAULT (newid()) FOR [TimelineID]
GO
ALTER TABLE [dbo].[VaccinationTimeline] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[VaccinationTimeline] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[VaccineInventory] ADD  DEFAULT ((20)) FOR [MinimumStock]
GO
ALTER TABLE [dbo].[VaccineInventory] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[VaccineInventory] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Vaccines] ADD  DEFAULT ((1)) FOR [NumberOfRequiredDoses]
GO
ALTER TABLE [dbo].[Vaccines] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Vaccines] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AccountOTPs]  WITH CHECK ADD  CONSTRAINT [FK_AccountOTPs_Accounts] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[AccountOTPs] CHECK CONSTRAINT [FK_AccountOTPs_Accounts]
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ChildParentRelationship]  WITH CHECK ADD  CONSTRAINT [FK_Relationship_Child] FOREIGN KEY([ChildID])
REFERENCES [dbo].[Children] ([ChildID])
GO
ALTER TABLE [dbo].[ChildParentRelationship] CHECK CONSTRAINT [FK_Relationship_Child]
GO
ALTER TABLE [dbo].[ChildParentRelationship]  WITH CHECK ADD  CONSTRAINT [FK_Relationship_Parent] FOREIGN KEY([ParentID])
REFERENCES [dbo].[Parents] ([ParentID])
GO
ALTER TABLE [dbo].[ChildParentRelationship] CHECK CONSTRAINT [FK_Relationship_Parent]
GO
ALTER TABLE [dbo].[ClinicRooms]  WITH CHECK ADD FOREIGN KEY([AssignedDoctorID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ClinicRooms]  WITH CHECK ADD FOREIGN KEY([AssignedDoctorID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ClinicRooms]  WITH CHECK ADD FOREIGN KEY([AssignedDoctorID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ClinicRooms]  WITH CHECK ADD FOREIGN KEY([CurrentChildID])
REFERENCES [dbo].[Children] ([ChildID])
GO
ALTER TABLE [dbo].[ClinicRooms]  WITH CHECK ADD FOREIGN KEY([CurrentChildID])
REFERENCES [dbo].[Children] ([ChildID])
GO
ALTER TABLE [dbo].[ClinicRooms]  WITH CHECK ADD FOREIGN KEY([CurrentChildID])
REFERENCES [dbo].[Children] ([ChildID])
GO
ALTER TABLE [dbo].[PasswordOtps]  WITH CHECK ADD  CONSTRAINT [FK_PasswordOtps_Parents] FOREIGN KEY([ParentID])
REFERENCES [dbo].[Parents] ([ParentID])
GO
ALTER TABLE [dbo].[PasswordOtps] CHECK CONSTRAINT [FK_PasswordOtps_Parents]
GO
ALTER TABLE [dbo].[PasswordOtps]  WITH CHECK ADD  CONSTRAINT [FK_PasswordOtps_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[PasswordOtps] CHECK CONSTRAINT [FK_PasswordOtps_Users]
GO
ALTER TABLE [dbo].[Queue]  WITH CHECK ADD FOREIGN KEY([AssignedRoomID])
REFERENCES [dbo].[ClinicRooms] ([RoomID])
GO
ALTER TABLE [dbo].[Queue]  WITH CHECK ADD FOREIGN KEY([AssignedRoomID])
REFERENCES [dbo].[ClinicRooms] ([RoomID])
GO
ALTER TABLE [dbo].[Queue]  WITH CHECK ADD FOREIGN KEY([AssignedRoomID])
REFERENCES [dbo].[ClinicRooms] ([RoomID])
GO
ALTER TABLE [dbo].[Queue]  WITH CHECK ADD FOREIGN KEY([ParentID])
REFERENCES [dbo].[Parents] ([ParentID])
GO
ALTER TABLE [dbo].[Queue]  WITH CHECK ADD FOREIGN KEY([ParentID])
REFERENCES [dbo].[Parents] ([ParentID])
GO
ALTER TABLE [dbo].[Queue]  WITH CHECK ADD FOREIGN KEY([ParentID])
REFERENCES [dbo].[Parents] ([ParentID])
GO
ALTER TABLE [dbo].[QueueChildren]  WITH CHECK ADD  CONSTRAINT [FK_QueueChildren_Children] FOREIGN KEY([ChildID])
REFERENCES [dbo].[Children] ([ChildID])
GO
ALTER TABLE [dbo].[QueueChildren] CHECK CONSTRAINT [FK_QueueChildren_Children]
GO
ALTER TABLE [dbo].[QueueChildren]  WITH CHECK ADD  CONSTRAINT [FK_QueueChildren_Queues] FOREIGN KEY([QueueID])
REFERENCES [dbo].[Queues] ([QueueID])
GO
ALTER TABLE [dbo].[QueueChildren] CHECK CONSTRAINT [FK_QueueChildren_Queues]
GO
ALTER TABLE [dbo].[Queues]  WITH CHECK ADD  CONSTRAINT [FK_Queues_ClinicRooms] FOREIGN KEY([AssignedRoomID])
REFERENCES [dbo].[ClinicRooms] ([RoomID])
GO
ALTER TABLE [dbo].[Queues] CHECK CONSTRAINT [FK_Queues_ClinicRooms]
GO
ALTER TABLE [dbo].[Queues]  WITH CHECK ADD  CONSTRAINT [FK_Queues_Parents] FOREIGN KEY([ParentID])
REFERENCES [dbo].[Parents] ([ParentID])
GO
ALTER TABLE [dbo].[Queues] CHECK CONSTRAINT [FK_Queues_Parents]
GO
ALTER TABLE [dbo].[VaccinationRecords]  WITH CHECK ADD  CONSTRAINT [FK_VaccinationRecords_AdministeredBy] FOREIGN KEY([AdministeredByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[VaccinationRecords] CHECK CONSTRAINT [FK_VaccinationRecords_AdministeredBy]
GO
ALTER TABLE [dbo].[VaccinationRecords]  WITH CHECK ADD  CONSTRAINT [FK_VaccinationRecords_Children] FOREIGN KEY([ChildID])
REFERENCES [dbo].[Children] ([ChildID])
GO
ALTER TABLE [dbo].[VaccinationRecords] CHECK CONSTRAINT [FK_VaccinationRecords_Children]
GO
ALTER TABLE [dbo].[VaccinationRecords]  WITH CHECK ADD  CONSTRAINT [FK_VaccinationRecords_Doctor] FOREIGN KEY([DoctorDiagnosedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[VaccinationRecords] CHECK CONSTRAINT [FK_VaccinationRecords_Doctor]
GO
ALTER TABLE [dbo].[VaccinationRecords]  WITH CHECK ADD  CONSTRAINT [FK_VaccinationRecords_Inventory] FOREIGN KEY([InventoryID])
REFERENCES [dbo].[VaccineInventory] ([InventoryID])
GO
ALTER TABLE [dbo].[VaccinationRecords] CHECK CONSTRAINT [FK_VaccinationRecords_Inventory]
GO
ALTER TABLE [dbo].[VaccinationRecords]  WITH CHECK ADD  CONSTRAINT [FK_VaccinationRecords_Vaccines] FOREIGN KEY([VaccineID])
REFERENCES [dbo].[Vaccines] ([VaccineID])
GO
ALTER TABLE [dbo].[VaccinationRecords] CHECK CONSTRAINT [FK_VaccinationRecords_Vaccines]
GO
ALTER TABLE [dbo].[VaccinationScheduleRules]  WITH CHECK ADD  CONSTRAINT [FK_VaccinationScheduleRules_Vaccines] FOREIGN KEY([VaccineID])
REFERENCES [dbo].[Vaccines] ([VaccineID])
GO
ALTER TABLE [dbo].[VaccinationScheduleRules] CHECK CONSTRAINT [FK_VaccinationScheduleRules_Vaccines]
GO
ALTER TABLE [dbo].[VaccinationTimeline]  WITH CHECK ADD  CONSTRAINT [FK_VaccineTimeline_Children] FOREIGN KEY([ChildID])
REFERENCES [dbo].[Children] ([ChildID])
GO
ALTER TABLE [dbo].[VaccinationTimeline] CHECK CONSTRAINT [FK_VaccineTimeline_Children]
GO
ALTER TABLE [dbo].[VaccinationTimeline]  WITH CHECK ADD  CONSTRAINT [FK_VaccineTimeline_Record] FOREIGN KEY([VaccinationRecordID])
REFERENCES [dbo].[VaccinationRecords] ([VaccinationRecordID])
GO
ALTER TABLE [dbo].[VaccinationTimeline] CHECK CONSTRAINT [FK_VaccineTimeline_Record]
GO
ALTER TABLE [dbo].[VaccinationTimeline]  WITH CHECK ADD  CONSTRAINT [FK_VaccineTimeline_Vaccines] FOREIGN KEY([VaccineID])
REFERENCES [dbo].[Vaccines] ([VaccineID])
GO
ALTER TABLE [dbo].[VaccinationTimeline] CHECK CONSTRAINT [FK_VaccineTimeline_Vaccines]
GO
ALTER TABLE [dbo].[VaccineDoses]  WITH CHECK ADD FOREIGN KEY([VaccineID])
REFERENCES [dbo].[Vaccines] ([VaccineID])
GO
ALTER TABLE [dbo].[VaccineDoses]  WITH CHECK ADD FOREIGN KEY([VaccineID])
REFERENCES [dbo].[Vaccines] ([VaccineID])
GO
ALTER TABLE [dbo].[VaccineDoses]  WITH CHECK ADD FOREIGN KEY([VaccineID])
REFERENCES [dbo].[Vaccines] ([VaccineID])
GO
ALTER TABLE [dbo].[VaccineDoses]  WITH CHECK ADD  CONSTRAINT [FK_VaccineDoses_Vaccines] FOREIGN KEY([VaccineID])
REFERENCES [dbo].[Vaccines] ([VaccineID])
GO
ALTER TABLE [dbo].[VaccineDoses] CHECK CONSTRAINT [FK_VaccineDoses_Vaccines]
GO
ALTER TABLE [dbo].[VaccineInventory]  WITH CHECK ADD  CONSTRAINT [FK_VaccineInventory_Vaccine] FOREIGN KEY([VaccineID])
REFERENCES [dbo].[Vaccines] ([VaccineID])
GO
ALTER TABLE [dbo].[VaccineInventory] CHECK CONSTRAINT [FK_VaccineInventory_Vaccine]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [CK_Accounts_AccountType] CHECK  (([AccountType]='Personnel' OR [AccountType]='Parent'))
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [CK_Accounts_AccountType]
GO
ALTER TABLE [dbo].[ClinicOperatingSchedule]  WITH CHECK ADD  CONSTRAINT [CK_ClinicOperatingSchedule_DayOfWeek] CHECK  (([DayOfWeek]>=(0) AND [DayOfWeek]<=(6)))
GO
ALTER TABLE [dbo].[ClinicOperatingSchedule] CHECK CONSTRAINT [CK_ClinicOperatingSchedule_DayOfWeek]
GO
ALTER TABLE [dbo].[ClinicOperatingSchedule]  WITH CHECK ADD  CONSTRAINT [CK_ClinicOperatingSchedule_Time] CHECK  (([OpeningTime]<[ClosingTime] AND [QueueCutoffTime]>=[OpeningTime] AND [QueueCutoffTime]<=[ClosingTime]))
GO
ALTER TABLE [dbo].[ClinicOperatingSchedule] CHECK CONSTRAINT [CK_ClinicOperatingSchedule_Time]
GO
ALTER TABLE [dbo].[Personnel]  WITH CHECK ADD  CONSTRAINT [CK_Personnel_Role] CHECK  (([Role]='Nurse' OR [Role]='Doctor' OR [Role]='Staff' OR [Role]='Administrator'))
GO
ALTER TABLE [dbo].[Personnel] CHECK CONSTRAINT [CK_Personnel_Role]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([UserType]='Request' OR [UserType]='Admission' OR [UserType]='Nurse' OR [UserType]='Doctor'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([UserType]='Request' OR [UserType]='Admission' OR [UserType]='Nurse' OR [UserType]='Doctor'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([UserType]='Request' OR [UserType]='Admission' OR [UserType]='Nurse' OR [UserType]='Doctor'))
GO
ALTER TABLE [dbo].[VaccinationTimeline]  WITH CHECK ADD  CONSTRAINT [CK_VaccineTimeline_Status] CHECK  (([Status]='Cancelled' OR [Status]='Missed' OR [Status]='Overdue' OR [Status]='Completed' OR [Status]='Due' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[VaccinationTimeline] CHECK CONSTRAINT [CK_VaccineTimeline_Status]
GO
/****** Object:  StoredProcedure [dbo].[Parent_SaveParent]    Script Date: 9/25/2026 8:05:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Parent_SaveParent]
    @ParentID UNIQUEIDENTIFIER = NULL,
    @FirstName NVARCHAR(50),
    @MiddleName NVARCHAR(50),
    @LastName NVARCHAR(50),
    @Email NVARCHAR(100),
    @ContactNo NVARCHAR(20),
    @BarangayNo NVARCHAR(20),
    @Address NVARCHAR(255)
AS
BEGIN
    IF @ParentID IS NULL OR @ParentID = '00000000-0000-0000-0000-000000000000'
    BEGIN
        INSERT INTO Parents (FirstName, MiddleName, LastName, Email, ContactNo, BarangayNo, Address)
        VALUES (@FirstName, @MiddleName, @LastName, @Email, @ContactNo, @BarangayNo, @Address)
    END
    ELSE
    BEGIN
        UPDATE Parents SET 
            FirstName = @FirstName, 
            MiddleName = @MiddleName, 
            LastName = @LastName,
            Email = @Email, 
            ContactNo = @ContactNo, 
            BarangayNo = @BarangayNo, 
            Address = @Address
        WHERE ParentID = @ParentID
    END
END
GO
USE [master]
GO
